# ArcGIS ImageServer URL used for the custom satellite basemap
# Example:
# VITE_ARCGIS_IMAGERYLAYER_URL=http://yourServer:6080/arcgis/rest/services/yourService/ImageServer
VITE_ARCGIS_IMAGERYLAYER_URL=

# ArcGIS MapServer URL
# Example:
# VITE_ARCGIS_MAPSERVER_URL=http://yourServer:6080/arcgis/rest/services/yourService/MapServer
VITE_ARCGIS_MAPSERVER_URL=

# ArcGIS FeatureServer URL
# Example:
# VITE_ARCGIS_FEATURESERVER_URL=http://yourServer:6080/arcgis/rest/services/yourService/FeatureServer
VITE_ARCGIS_FEATURESERVER_URL=